<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team6.iguide" >

    <!-- TODO Update user permissions to Android 6.0 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Search Suggestion Provider -->
        <provider
            android:name=".SearchSuggestion"
            android:authorities="team6.iguide.SearchSuggestion" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value=".MainActivity" />
        </activity>

        <!-- Detailed info Activity -->
        <activity
            android:name=".DetailedInfoActivity"
            android:label="@string/title_activity_detailed_info"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team6.iguide.MainActivity" />
        </activity>

        <!-- Settings Activity -->
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team6.iguide.MainActivity" />
        </activity>

        <!-- About Activity -->
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team6.iguide.MainActivity" />
        </activity>

        <!-- Routing Activity -->
        <activity
            android:name=".RoutingActivity"
            android:label="@string/title_activity_routing"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team6.iguide.MainActivity" />
        </activity>

        <!-- License Activity -->
        <activity
            android:name=".LicenseActivity"
            android:label="@string/title_license_activity"
            android:parentActivityName=".AboutActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team6.iguide.AboutActivity" />
        </activity>

        <!-- CampusIssueReportActivity Activity -->
        <activity
            android:name=".CampusIssueReportActivity"
            android:label="@string/title_activity_CampusIssueReportActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team6.iguide.MainActivity" />
        </activity>

        <!-- UserInputLocationActivity Activity -->
        <activity
            android:name=".UserInputLocationActivity"
            android:label="@string/title_activity_UserInputLocationActivity"
            android:parentActivityName=".CampusIssueReportActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team6.iguide.CampusIssueReportActivity" />
        </activity>

        <activity
            android:name=".CampusIssueDetailActivity"
            android:label="@string/title_activity_campus_issue_detail"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team6.iguide.MainActivity" />
        </activity>
    </application>

</manifest>
